@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewBag.Title = "OpenMapWeatherParsing";
}
<h1>View forecast</h1>

<div>
    <strong>City name:</strong><input id="txtCity" type="text"/>
    <br />
    <p>City:</p>
</div>
